<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="programer" class="org.quwb.utils.spring.container.domain.Programer">
        <constructor-arg ref="people"/>
    </bean>

    <bean id="people" class="org.quwb.utils.spring.container.domain.People"/>
    <bean id="myFactoryBean" class="org.quwb.utils.spring.container.domain.MyFactoryBean" />

</beans>